

.container {
    background-color: #2e3137;
    height: 800px;
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #676a70;
}

.formname {
    text-align: center;
}
.name1 {
    color: #8a8c99;
    font-size: 30px;
    font-weight: bold;
    
}

.name2 {
    color: #23a5cc;
    font-size: 30px;
    font-weight: bold;;
  
}

.form {
    background-color: #22262b;
    width: 70%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.input {
    background-color: #464857;
}

.signin {
    background-color: #464857;
    padding-left: 30%;
    padding-right: 28%;
    border-radius: 10px;
    color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;

}

.signup {
    background-color: #20a5d4;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.title2 {
    background-color: #454955;
    margin-bottom: 0px;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.signuptitle {
    width: 70%;
    text-align: center;
    margin-top: 0px;
    
}

.username {
    padding: 5px;
    padding-right: 35px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    
    
}

.email {
    padding: 5px;
    margin: 10px;
    padding-right: 35px;
    border-radius: 10px;
    border: none;
}

.password {
    padding: 5px;
    margin: 10px;
    padding-right: 35px;
    border-radius: 10px;
    border: none;
}

.rpassword {
    padding: 5px;
    margin: 10px;
    padding-right: 35px;
    border-radius: 10px;
    border: none;
}

.check {
    margin-left: 10px;

}

.username2 {
    margin-left: 10px;
    
}

.email2 {
    margin-left: 10px;
}

.password2 {
    margin-left: 10px;
}

.rpassword2 {
    margin-left: 10px;
}

hr{
    border-color: #22262b;
    width: 100%;
    border-top: 1px dashed;
}

.already {
    text-align: center;
}