* {
    box-sizing: border-box;
}

.content {
    background-color: #8cb7c0;
    width: 280px;
    height: 200px;
}

.padding {
    background-color: #c1d18a;
    width: 330px;
    padding: 20px;
    border: 5px;
    border-style:solid;
}

.margin {
    background-color: #f8cc9d;
    width: 400px;
    padding: 35px;
    border: 1px;
    border-style: solid;
    margin-top: 35px;
    margin-left: 20px;
}