body {
    background-color: #0676e6;
    
}

.container {
    margin: auto;
    margin-top: 100px;
    height: 700px;
    width: 70%;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 20px;

    
}

.plan {

    background-color: white;
    height: 400px;
    width: 20%;
    border-radius: 10px;
    
    
}

.planname {
    border-radius: 30px;
    background-color: #0676e6;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    margin: 50px;
    margin-top: 20%;
    color: white;
    
}

.price {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
}

.period {
    text-transform: uppercase;
    margin-top: -0px;
    font-size: 8px;
    text-align: center;
}

.description {
    color: #b0b4ba;
    font-size: small;
    text-align: center;
    line-height: 2;
}

.button {
    color: #1379e4;
    font-weight: bold;
    text-align: center;
    margin-left: 10%;
    border-radius: 30px;
    border-color: #0676e6;
    background-color: white;
    padding: 10px 50px 10px 50px;
    
    
}