body {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container {
    height: 420px;
    width: 80%;
    margin: 0 auto;
    background-color: #2975fa;
}

.title {
    text-align: center;
    font-size: 20px; 
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    
}

.map {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.product {
    text-align: center;
    line-height: 1.5;
}

.company {
    text-align: center;
    line-height: 1.5;
   
}

.resources {
    text-align: center;
    line-height: 1.5;
}

.gethelp {
    text-align: center;
    line-height: 1.5;
}

